.data__number{
  font-family: 'Roboto', sans-serif;
}
.container-img{
  width: 150px;
  height: 150px;
  /* background-color: white; */
}
.container__img{
  width: 100%;
  height: 100%;
  margin: 10px 0;
}
.data__ul{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  list-style: none;
}